<html>
<head>
    <title>Soal No.4</title>
</head>
<body>
    <h2>Soal No.4</h2>
    <p>
        Buatlah sebuah program untuk mengecek bahwa string yang diinput adalah angka atau bukan angka.<br/>
        Contoh input: 12345
        Output yang diharapkan:
            12345 adalah angka
        Contoh input: ab123
        Output yang diharapkan:
            ab123 bukan angka
    </p>
    <form method="post" action="showisnumber">
        <label>Isi Nilai:</label>
        <input type="text" name="txtInput" />
        <button type="submit">Lihat Hasil</button>
    </form>
</body>
</html>